In [5]:
import pandas as pd
import os

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [7]:
os.chdir("/content/gdrive/My Drive/Tableau")

In [8]:
df = pd.read_excel("customer_data _Sheet1.xlsx",index_col="Customer open date",parse_dates=True)
df.head()

                        Customer Name  Customer ID  ... Postal code Active customer
Customer open date                                  ...
2011-01-27          Mechelle Stoneman    292494523  ...      4484.0               A
2015-12-28             Tyesha Freitag    361825549  ...      1075.0               A
2011-01-13              Dean Stoecker    141515767  ...      6515.0               A
2012-09-11            Annelle Pickney    500364005  ...      7683.0               A
2015-10-27             Margareta Tacy    127481591  ...      3491.0               A

[5 rows x 9 columns]

In [9]:
df.isnull().sum()

Customer Name          0
Customer ID            0
Last consulted date    1
Country                1
Vaccination type       1
State                  1
Date of birth          1
Postal code            1
Active customer        1
dtype: int64

In [10]:
df = df.dropna()

In [11]:
df.isnull().sum()

Customer Name          0
Customer ID            0
Last consulted date    0
Country                0
Vaccination type       0
State                  0
Date of birth          0
Postal code            0
Active customer        0
dtype: int64

In [12]:
country_name= df['Country'].unique()
country_name

array(['Chad', 'Latvia', 'Pakistan', 'Democratic Republic of the Congo',
       'Czech Republic', 'South Africa', 'Laos', 'China', 'Eritrea',
       'Haiti', 'Zambia', 'Bosnia and Herzegovina', 'Germany', 'India'],
      dtype=object)

In [13]:
input_country = str(input('Please enter the metioned country: '))
for i in country_name:
  if input_country ==i:
    ii = df.loc[df['Country']==str(i)] 
    #print(ii)
    display(ii)
if input_country not in country_name:
  print('Please enter correct country Name from list below' )
  print(country_name)

Please enter the metioned country: India

                        Customer Name  Customer ID  ... Postal code Active customer
Customer open date                                  ...
2016-08-27                Lacey Osier    151717174  ...      5338.0               A
2013-10-24                 Mara Elder    332936227  ...      2083.0               N
2015-02-11            Genoveva Herrod    912333714  ...      8675.0               N
2014-04-12                 Nova Boden    509828126  ...      8327.0               A
2011-05-12             Shaquana Emigh    353942859  ...      8412.0               A
2014-11-13             Serafina Knoll    230407607  ...      1586.0               A
2015-07-19             Karoline Felix    272820842  ...      2605.0               N
2017-01-11              Regenia Blish    983916938  ...      1742.0               N
2017-04-12          Margarito Hintzen    391430270  ...      1770.0               N
2016-02-23              Cedrick Agnew    348095214  ...      7964.0               A
2017-06-24               Sade Gasaway    349245774  ...      8440.0               A
2010-08-28              Narcisa Hsieh    562908399  ...      5959.0               A
2010-09-30                 Hal Bender    167324197  ...      3803.0               A
2014-10-07                Dian Cobian    227727544  ...      8496.0               A
2014-01-17              Ozella Conner    234352815  ...      9061.0               A
2016-12-15             Gertrud Sather    802434384  ...      7021.0               N
2013-01-13              Elva Hochmuth    300122725  ...      1839.0               N
2013-09-16             Chantel Absher    793854320  ...      7989.0               N
2012-08-02           Flora Plascencia    184393775  ...      5071.0               N

[19 rows x 9 columns]